private-key.pem
*.pem
!server/core/infraflow-public.pem
licenta.iflic
node_modules/
client/dist/
data/app-db.json
server/asfalt-pro-backup*.json
.env
.env.local
storage/
_local-runtime-backup/
logs/
backups/

installer/node-v20-x64.msi
installer/SQLEXPR_x64_ENU.exe
installer/output/
electron/dist/
node_modules/
server/node_modules/
client/node_modules/
electron/node_modules/
